$white-color: #ffffff;
$black-color: #000000;
$primary-color: #FF2500;
$light-black-color: #0F0F0F;
$dark-grey-color: #222222;
$grey-color: #4A4A4A;
$light-grey-color: #787878;
$input-placeholder-color: #6c757d;
$error-color: #FF9494;
$border-radius-100: 100px;
$header-height: 140px;
$footer-height: 190px;
$font-family: 'Gilroy', sans-serif;
$font-family-md: 'Gilroy-Medium', sans-serif;
$font-family-bold: 'Gilroy-Bold', sans-serif;
$font-size: 1rem;
$font-weight: 500;
$line-height: 1.5;
$max-content-size: 70%;
$input-height: 42px;