@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy/Gilroy-Regular.ttf");
}
@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/Gilroy/Gilroy-Bold.ttf");
}
@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/Gilroy/Gilroy-Medium.ttf");
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
*::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: $dark-grey-color;
}
*::-webkit-scrollbar-thumb {
    background: $grey-color;
    border-radius: 10px;
}
* {
    &:hover,
    &.p-focus {
        @include remove-default-focus-effect;
    }
}
body {
    margin: 0;
    font-family: $font-family !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 1 !important;
    color: $white-color !important;
    background-color: $black-color !important;
    min-height: 100vh;
    height: 100%;
};
.container {
    margin: 0 auto;
    padding: 30px 0;
    width: 100%;
    max-width: $max-content-size;
    @media (max-width: 768px) {
        max-width: 100%;
    }
}
ul {
    @include unorder-list-style;
}
p {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $white-color;
  letter-spacing: 0.5px;
};
h1 {
  font-family: $font-family-bold;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 1rem;
  color: $white-color;
};
h2 {
  font-family: $font-family-bold;
  font-weight: $font-weight;
  font-size: 30px;
  margin-bottom: 1rem;
  color: $white-color;
};
h3 {
    font-family: $font-family-bold;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0.75rem;
    color: $white-color;
}
h4 {
    font-family: $font-family-bold;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 0.75rem;
    color: $white-color;
}
h5 {
    font-family: $font-family-md;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0.75rem;
    color: $white-color;
}
h6 {
  font-family: $font-family-md;
  font-size: 16px;
  margin-bottom: 0.5rem;
  color: $white-color;
}
.small-text {
    @include small-text;
}
.medium-text {
    @include medium-text;
}
hr {
    width: 100%;
    border: 1px solid $grey-color;
}
button.p-button,
a.p-button {
    border-radius: $border-radius-100;
    font-family: $font-family;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: $white-color;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    &:enabled:hover, &:enabled:active, &:focus {
        box-shadow: unset;
        // opacity: 0.8;
    }
}
.p-button.p-primary,
.p-primary .p-button {
    background-color: $primary-color;
    border-color: $primary-color;
    color: $white-color;
    &:enabled:hover, &:enabled:active, &:focus {
        background-color: $primary-color;
        border-color: $primary-color;
    }
}
.p-button.p-outline-primary,
.p-outline-primary .p-button {
    background-color: transparent;
    border-color: $primary-color;
    color: $primary-color;
    &:enabled:hover, &:enabled:active, &:focus {
        background-color: transparent;
        border-color: $primary-color;
        color: $primary-color;
        opacity: 0.8;
    }
}
.p-button.p-secondary,
.p-secondary .p-button {
    background-color: $grey-color;
    border-color: $grey-color;
    &:enabled:hover, &:enabled:active, &:focus {
        background-color: $grey-color;
        border-color: $grey-color;
    }
}
.p-button.p-outline-secondary,
.p-outline-secondary .p-button {
    background-color: transparent;
    border-color: $white-color;
    color: $white-color;
    &:enabled:hover, &:enabled:active, &:focus {
        background-color: transparent;
        border-color: $white-color;
        opacity: 0.8;
    }
}
label {
    @include small-text;
    text-align: left;
    font-weight: 500;
    opacity: 0.6;
    line-height: 22px;
}
.error {
    @include small-text;
    color: $error-color;
    padding: 4px 0 0 4px;
}
.input-group {
    margin-bottom: 1rem;
    width: 100%;
}
input.p-inputtext {
    display: inline-block;
    width: 100%;
    height: $input-height;
    padding: 0.75rem 1rem;
    @include medium-text;
    font-weight: 500;
    background-color: $dark-grey-color;
    border-color: $dark-grey-color;
    border-radius: $border-radius-100;
    &:enabled:hover,
    &:enabled:focus {
        @include remove-default-focus-effect;
    }
}
.p-ng-dropdown .p-dropdown.p-component { 
    width: 100%;
    height: $input-height;
    background-color: $dark-grey-color;
    border-color: $dark-grey-color;
    border-radius: $border-radius-100;
    padding: 0.75rem 0.20rem 0.75rem 1rem;
    @include medium-text;
    font-weight: 500;
    &:enabled:hover,
    &:enabled:focus,
    &:not(.p-disabled).p-focus {
        @include remove-default-focus-effect;
    }
    .p-dropdown-label {
        @include medium-text;
        font-weight: 500;
        padding: 0;
        &.p-placeholder {
            color: $input-placeholder-color;
        }
    }
    .p-dropdown-trigger-icon {
        font-size: 12px;
        color: $white-color;
    }
}
.p-ng-datepicker .p-calendar {
    .p-datepicker-trigger {
        background-color: $dark-grey-color;
        border-color: $dark-grey-color;
    }
}
.p-field-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    .p-checkbox {
        .p-checkbox-box {
            width: 16px;
            height: 16px;
            border: 1px solid $white-color;
            border-radius: 3px;
            background-color: transparent;
            .p-checkbox-icon {
                font-size: 12px;
            }
        }
        &:not(.p-checkbox-disabled) {
            .p-checkbox-box {
                &.p-focus,
                &:hover {
                    @include remove-default-focus-effect;
                }
            }
        }
    }
    label {
        @include medium-text;
        font-weight: 500;
    }
}
.dropdown-input-field {
    width: 100%;
    float: left;
    position: relative;
    .p-ng-dropdown .p-dropdown {
        position: absolute;
        width: 75px;
        height: 40px;
        margin: 1px;
        &:enabled:hover,
        &:enabled:focus,
        &:not(.p-disabled):hover {
            border-color: transparent !important;
        }
    }
    .p-inputtext {
        padding-left: 78px;
    }
}
.p-ng-tabview {
    .p-tabview {
        .p-tabview-nav {
            background: transparent;
            border-color: transparent;
            li {
                .p-tabview-nav-link {
                    border: none;
                    background-color: transparent;
                    padding: 1rem 3rem;
                    margin-right: 5px;
                    @include normal-text;
                    span {
                        opacity: 0.4;
                    }
                    &:not(.p-disabled):focus {
                        @include remove-default-focus-effect;
                    }
                }
                &.p-highlight {
                    .p-tabview-nav-link { 
                        background: $dark-grey-color;
                        color: $white-color;
                        border-radius: 20px 20px 0px 0px;
                        span {
                            opacity: 1;
                        }
                    }
                }
                &:not(.p-highlight):not(.p-disabled):hover {
                    .p-tabview-nav-link { 
                        background: $dark-grey-color;
                        color: $white-color;
                        border-radius: 20px 20px 0px 0px;
                    }
                }   
            }
        }
        .p-tabview-panels {
            background-color: transparent;
            padding: 0;
            p-tabpanel:first-child {
                .section {
                    border-top-left-radius: 0;
                }
            }
        }
    }
}
.custom-checkbox-as-radio-view {
    position: relative;
    display: block;
    min-height: 1.5rem;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        height: 18px;
        width: 18px;
        top: 0;
        left: 0;
        &:checked~.custom-radio::after {
            position: absolute;
            background-color: $blue-color;
            width: 12px;
            height: 12px;
            border-radius: $border-radius-100;
            top: 4px;
            left: 4px;
            display: block;
            content: "";
        }
    }
    .custom-radio {
        display: inline-block;
        opacity: 1;
        &::before{
            position: absolute;
            display: block;
            content: "";
            background: transparent;
            border-radius: $border-radius-100;
            border: 1px solid $white-color;
            height: 18px;
            width: 18px;
            top: 0;
            left: 0;
        }
    }
}