<div class="container-wrapper">
  <div class="container">
    <div class="auth-left-section">
      <a><img src="../../../../assets/images/logo.png" alt=""></a>
      <div class="auth-form-section">
        <form>
          <h3 class="form-title">Login</h3>

          <label>Email</label>
          <input type="text" pInputText />

          <label>Password</label>
          <input type="password" pInputText />

          <div class="p-field-checkbox">
            <p-checkbox binary="true" inputId="binary"></p-checkbox>
            <label for="binary">Remember me</label>
          </div>
          
        </form>
      </div>
    </div>
    <div class="auth-right-banner">
        <div class="banner-text">
          <h1>Welcome to <span>Vera Ticket</span></h1>
          <p>Our platform provides NFT enabled e-ticketing 
            for live events secured by blockchain technology, eliminating.</p>
        </div>
    </div>
  </div>
</div>