<div class="auth-content-wrapper">
  <div class="auth-content">
    <div class="auth-left-section">
      <a><img src="../../../../assets/images/logo.png" alt=""></a>
      <div class="auth-form-section">
        <div class="form-wrapper">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
            <h3 class="form-title">Reset Password</h3>

            <div class="input-group">
              <label>Email</label>
              <input type="email" pInputText formControlName="email" placeholder="Enter Email Address" />
              <div class="error-wrapper" *ngIf="isSubmitted && getControls.email.errors">
                <div *ngIf="getControls.email.errors.required" class="error">Email is required.</div>
                <div *ngIf="getControls.email.errors.email" class="error">Enter valid email address.</div>
              </div>
            </div>

            <button pButton type="submit" label="Send" class="p-primary submit-form-btn"></button>
          </form>
          <div class="auth-redirect-action">
            <p>Go back to <a routerLink="/auth/login">Sign In</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="auth-right-banner">
        <div class="banner-text">
          <h1>Welcome to <span>Vera Ticket</span></h1>
          <p>Our platform provides NFT enabled e-ticketing 
            for live events secured by blockchain technology, eliminating.</p>
        </div>
    </div>
  </div>
</div>
