<div class="section">
    <div class="profile-section">
        <form>
            <div class="profile-header-section">
                <div>
                    <div class="profile-img-circle">
                        <span><img src="../../../../assets/images/user-profile.png" alt=""></span>
                        <label for="profile-img" class="edit-img">
                            <input id="profile_img" type="file" accept="image/*">
                            <img src="../../../../assets/images/camera.svg" alt="">
                        </label>
                    </div>
                    <h5 class="user-name">Pixelz Warrios</h5>
                </div>
                
                <p-button class="p-primary" label="Save"></p-button>
            </div>
            <h5>Basic Detail</h5>
            <div class="grid">
                <div class="input-group col-3">
                    <label>Your Name</label>
                    <input type="text" pInputText placeholder="Your name"/>
                    <div class="error-wrapper">
                        <p class="error"></p>
                    </div>
                </div>
                <div class="input-group col-3">
                    <label>Username</label>
                    <input type="text" pInputText placeholder="Username"/>
                    <div class="error-wrapper">
                        <p class="error"></p>
                    </div>
                </div>
                <div class="input-group col-3">
                    <label>Date of Birth</label>
                    <p-calendar dateFormat="mm-dd-yy" [showIcon]="true" placeholder="DOB" class="p-ng-datepicker"></p-calendar>
                    <div class="error-wrapper">
                        <p class="error"></p>
                    </div>
                </div>
                <div class="input-group col-3">
                    <label>Gender</label>
                    <p-dropdown class="p-ng-dropdown" placeholder="Select a Gender" [showClear]="false"></p-dropdown>
                    <div class="error-wrapper">
                        <p class="error"></p>
                    </div>
                </div>
            </div>
            <h5>Contact Detail</h5>
            <div class="grid">
                <div class="input-group col-6">
                    <label>Email Address</label>
                    <input type="text" pInputText placeholder="Email Address"/>
                    <div class="error-wrapper">
                        <p class="error"></p>
                    </div>
                </div>
                <div class="input-group col-6">
                    <label>Phone Number</label>
                    <div class="dropdown-input-field">
                        <p-dropdown class="p-ng-dropdown" placeholder="" [showClear]="false"></p-dropdown>
                        <input type="text" pInputText placeholder="Phone Number"/>
                    </div>
                    <div class="error-wrapper">
                        <p class="error"></p>
                    </div>
                </div>
                <div class="input-group col-3">
                    <label>Country</label>
                    <p-dropdown class="p-ng-dropdown" class="p-ng-dropdown" placeholder="Select a Country" [showClear]="false"></p-dropdown>
                    <div class="error-wrapper">
                        <p class="error"></p>
                    </div>
                </div>
                <div class="input-group col-3">
                    <label>State</label>
                    <p-dropdown class="p-ng-dropdown" placeholder="Select a State" [showClear]="false"></p-dropdown>
                    <div class="error-wrapper">
                        <p class="error"></p>
                    </div>
                </div>
                <div class="input-group col-3">
                    <label>City</label>
                    <p-dropdown class="p-ng-dropdown" placeholder="Select a City" [showClear]="false"></p-dropdown>
                    <div class="error-wrapper">
                        <p class="error"></p>
                    </div>
                </div>
                <div class="input-group col-3">
                    <label>Postcode</label>
                    <input type="text" pInputText placeholder="Postcode" />
                    <div class="error-wrapper">
                        <p class="error"></p>
                    </div>
                </div>
            </div>
            <h5>Change Password</h5>
            <div class="grid">
                <div class="input-group col-6">
                    <label>Password</label>
                    <input type="password" pInputText placeholder="Password"/>
                    <div class="error-wrapper">
                        <p class="error"></p>
                    </div>
                </div>
                <div class="input-group col-6">
                    <label>Confirm Password</label>
                    <input type="password" pInputText placeholder="Confirm Password"/>
                    <div class="error-wrapper">
                        <p class="error"></p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>