<header>
  <div class="main-header">
    <a href=""><img src="../../../../assets/images/logo-with-name.png" alt=""></a>
    <div class="header-right">
      <p-cascadeSelect [(ngModel)]="selectedCity1" [options]="countries" optionLabel="cname" optionGroupLabel="name" 
      [optionGroupChildren]="['states', 'cities']" [style]="{'minWidth': '14rem'}"></p-cascadeSelect>
      <a pButton  routerLink="/auth/register" label="Sign Up" class="p-primary"></a>
      <a pButton  routerLink="/auth/login" label="Sign In" class="p-outline-secondary"></a>
    </div>
  </div>
</header>