<header>
  <div class="container main-header">
    <a href=""><img src="../../../../assets/images/logo-with-name.png" alt=""></a>
    <div class="header-right">
      <p-cascadeSelect [(ngModel)]="selectedCity1" [options]="countries" optionLabel="cname" optionGroupLabel="name" 
      [optionGroupChildren]="['states', 'cities']" [style]="{'minWidth': '14rem'}"></p-cascadeSelect>
      <a pButton routerLink="/auth/register" class="p-primary">Sign Up</a>
      <a pButton routerLink="/auth/login" class="p-outline-secondary">Sign In</a>
    </div>
  </div>
</header>