<footer>
  <div class="main-footer">
    <div class="grid">
      <div class="col-12 md:col-7">
        <div class="footer-events">
          <h4>Find events</h4>
          <div class="footer-events-category">
            <a href="#">Music</a>
            <a href="#">Food & Drink</a>
            <a href="#">Sports</a>
            <a href="#">Plays</a>
            <a href="#">Seminar</a>
            <a href="#">Workshops</a>
          </div>
          <div class="footer-social-icons">
            <a href="#"><img src="../../../../assets/images/instagram.png" alt=""></a>
            <a href="#"><img src="../../../../assets/images/twitter.png" alt=""></a>
            <a href="#"><img src="../../../../assets/images/facebook.png" alt=""></a>
            <a href="#"><img src="../../../../assets/images/snapchat.png" alt=""></a>
            <a href="#"><img src="../../../../assets/images/tumblr.png" alt=""></a>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-5">
        <div class="footer-nav">
          <h4>Work with us</h4>
          <div class="grid">
            <div class="col-6">
              <ul>
                <li><a href="#">About Vera Ticket</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Help & Support</a></li>
              </ul>
            </div>
            <div class="col-6">
              <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">FAQs</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>