<div class="auth-content-wrapper">
  <div class="auth-content">
    <div class="auth-left-section">
      <a><img src="../../../../assets/images/logo.png" alt=""></a>
      <div class="auth-form-section">
        <div class="form-wrapper">
          <form [formGroup]="changePassword" (ngSubmit)="submit()">
            <h3 class="form-title">Change Password</h3>

            <div class="input-group">
              <label>Password</label>
              <input type="password" pInputText formControlName="password" placeholder="Password" />
              <div class="error-wrapper" *ngIf="isSubmitted && getControls.password.errors">
                <div *ngIf="getControls.password.errors.required" class="error">Password is required.</div>
              </div>
            </div>

            <div class="input-group">
              <label>Confirm Password</label>
              <input type="password" pInputText formControlName="confirmPass" placeholder="Confirm Password" />
              <div class="error-wrapper">
              <div class="error" *ngIf="isSubmitted && ConfirmPassErr && !getControls.confirmPass.errors">
                {{ConfirmPassErr}}.</div>
            </div>
        </div>
        <p-button type="submit" label="Reset" class="p-primary submit-form-btn"></p-button>
        </form>
      </div>
    </div>
    <div class="auth-right-banner">
        <div class="banner-text">
          <h1>Welcome to <span>Vera Ticket</span></h1>
          <p>Our platform provides NFT enabled e-ticketing 
            for live events secured by blockchain technology, eliminating.</p>
        </div>
    </div>
  </div>
</div>
</div>